footer {
  margin: 1rem 0 1rem 0;
  padding: 1rem 0; 
}

footer p {
  margin: 0;
}

.nav-link:hover,
.dropdown-item:hover {
  background-color: #343642 !important;
}

.dropdown-toggle::after {
  display: none;
}

.hero-lead a {
  display: inline-block;
  margin: 0 auto 0 auto;
}

.article-header {
  position: relative;
  overflow: hidden;
  max-height: 10rem;
}

.article-header .article-banner {
  top: -50%;
  transform: translate(0%, -50%);
}

.article-header>.article-header-caption {
  top: 50%;
  bottom: inherit;
  left: 50%;
  right: inherit;
  transform: translate(-50%, -50%);
  text-align: center;
  margin: 0 1rem;
  padding: 0.2rem 1rem;
  border-radius: 0;
  font-size: 2.25rem;
  opacity: 0.8;
}

h1 {
  font-size: 1.75rem;
}

/*
@media only screen and (min-width: 1001px) {
  .article-header {
    width: 100%;
    margin: 0 auto;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-top: 0.1rem;
  }
}
@media only screen and (min-width: 1001px) {
  .article-container {
    max-width: 1000px;
  }
}
*/
