<footer class="site-footer">
  <p>
    <a href="/company/">{{ site.Params.company_name }}</a>
    {{ with site.Params.company_branches }} | <a href="/company/#branches">{{ . }}</a>{{ end }}
    {{ with site.Params.company_contact }} | <a href="/company/#contact">{{ . }}</a>{{ end }}
  </p>
  <p>
    <a href="https://hub.nvrsw.com/" target="_blank">EMSTONE HUB</a>
    |
    <a href="http://nvrsw.com/" target="_blank">NVR SOFTWARE</a>
    |
    <a href="https://www.youtube.com/channel/UC-4cLqYFsPtaOjtKolsKxRg" target="_blank">YOUTUBE</a>
  </p>
  <p>
    {{ with site.Copyright }} {{ replace . "{year}" now.Year | markdownify }} {{ end }}
  </p>
</footer>
